<template>
    <div class="[ content ]">
        <div class="[ loading ]" v-if="!dataLoaded"><div>Loading...</div></div>
        <div class="[ container--fluid ]" v-if="dataLoaded">
            <div class="[ container--readable ]"><h1>{{card.name}}</h1></div>
            <div class="[ content__main ] [ container--readable ]">
                <img class="[ content__main__image ]" v-bind:src="card.imageUrl" v-bind:alt="card.name">
                <div class="[ content__main__specs ]">
                    <div class="[ label-group ] [ indent--border ]">
                        <div class="[ label-group__label ]">Rarity</div>
                        <div class="[ label-group__element ]">{{card.rarity}}</div>
                    </div>
                    <div class="[ label-group ] [ indent--border ]">
                        <div class="[ label-group__label ]">Type</div>
                        <div class="[ label-group__element ]">{{card.types.join(' ')}}
                            <span v-if="card.subtypes.length > 0"> - </span>{{card.subtypes.join(' ')}}</div>
                    </div>
                    <div class="[ label-group ] [ indent--border ]" v-if="card.manaCost != null">
                        <div class="[ label-group__label ]">Mana cost</div>
                        <div class="[ label-group__element ]">{{card.manaCost}}</div>
                    </div>
                    <div class="[ label-group ] [ indent--border ]" v-if="hasColors">
                        <div class="[ label-group__label ]">Colors</div>
                        <div class="[ label-group__element ]">{{card.colors.join(', ')}}</div>
                    </div>
                    <div class="[ label-group ] [ indent--border ]" v-if="card.power != null">
                        <div class="[ label-group__label ]">Power</div>
                        <div class="[ label-group__element ]">{{card.power}}</div>
                    </div>
                </div>
            </div>
            <div class="[ content__about ] [ container--readable ]">
                <p v-html="styledText[0]"></p>
                <p v-if="styleText[1] != ''" v-html="styledText[1]"></p>
            </div>
        </div>
    </div>
</template>

<script>
const mtg = require('mtgsdk');

export default {
    name: "Card",
    props: [ "id" ],
	data(){
        return{
            dataLoaded: false,
            card: null,
            styledText: ["", ""]
         }
	},
    computed: {
        hasColors: {
            get: function(){
                const app = this;
                if (app.card.colors !== undefined)
                    if (app.card.colors.length > 0)
                        return true;
                        
                return false;
            }
        }
    },
	beforeMount: function(){
        const app = this;

        if (!localStorage.getItem("sessionID"))
        {
            app.$router.push({name: "Login"});
        }

        mtg.card.find(app.id)
            .then(result => {
                app.card = result.card;
                app.styleText();
                app.dataLoaded = true;
        });
    },
    methods: {
        styleText: function()
        {
            this.styledText =  [
                this.card.originalText,
                this.card.text
            ]

            if (this.styledText[0] == this.styledText[1])
                this.styledText[1] = "";
               
            this.styledText.forEach(function(p, i, list) {
                list[i] = list[i].split('(').join("<i>(")
                        .split(')').join(")</i>");
            });
        }
    }
}
</script>

<style lang="scss" scoped>
@import "./../assets/sass/_partials-min";

.content{
    margin-bottom: 40px;
    &__main{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;

        margin-bottom: 40px;

        &__image{
            width: 100%;
            height: auto;

            border-radius: 5%;
        }

        &__specs{
            height: 100%;
        }
    }

    &__about{
        display: block;
    }

    .loading{
        position: relative;
        width: 100%;
        height: 0;
        overflow: overflow;
        transform: translateY(40px);

        display: flex;
        justify-content: center;

        div{
            position: absolute;
            width: 100px;
            text-align: center;
        }
    }
}
</style>
