<template>
<div class="[ container--readable ]">
    <h1>Contact</h1>
    <form @submit.prevent="trySendMessage">
        <div class="[ label-group ]">
            <div class="[ label-group__label ]">First name</div>
            <input class="[ label-group__element ]" type="text" placeholder="First name"
            v-model="contact.fname" v-bind:class="{ error: errors.fname }">
        </div>
        <div class="[ label-group ]">
            <div class="[ label-group__label ]">Last name</div>
            <input class="[ label-group__element ]" type="text" placeholder="Last name"
            v-model="contact.lname" v-bind:class="{ error: errors.lname }">
        </div>
        <div class="[ label-group--wide ]">
            <div class="[ label-group__label ]">Phone number</div>
            <input class="[ label-group__element ]" type="text" placeholder="Phone number"
            v-model="contact.phone" v-bind:class="{ error: errors.phone }">
        </div>
        <div class="[ label-group--wide ]">
            <div class="[ label-group__label ]">E-mail</div>
            <input class="[ label-group__element ]" type="email" placeholder="E-mail"
            v-model="contact.email" v-bind:class="{ error: errors.email }">
        </div>
        <div class="[ label-group--wide ]">
            <div class="[ label-group__label ]">Message</div>
            <textarea class="[ label-group__element ]" rows="4"></textarea>
        </div>
        <div class="[ align--right ]">
            <button type="submit">Send</button>
        </div>
    </form>
</div>
</template>

<script>
export default {
    name: "Contact",
    data() {
        return {
            contact: {
                fname: "", lname: "",
                phone: "",
                email: ""
            },
            errors: {
                fname: false, lname: false,
                phone: false,
                email: false
            }
        }
    },
    methods: {
        trySendMessage() {
            this.errors.fname = !this.validateName(this.contact.fname);
            this.errors.lname = !this.validateName(this.contact.lname);
            this.errors.phone = !this.validatePhoneNumber(this.contact.phone);
            this.errors.email = !this.validateMail(this.contact.email);

            let contactDataValid = !this.errors.fname &&
                                   !this.errors.lname &&
                                   !this.errors.phone &&
                                   !this.errors.email;

            console.log(contactDataValid ? "Message can be sent" : "Message cannot be sent");
        },
        validateName(name)
        {
            return name != "" && name != undefined;
        },
        validatePhoneNumber(number)
        {
            return ((/^[0-9]{3}[ ]{1}[0-9]{3}[ ]{1}[0-9]{4}$/.test(number)) ||
                    (/^[0-9]{3}[.]{1}[0-9]{3}[.]{1}[0-9]{4}$/.test(number)) ||
                    (/^[0-9]{3}[-]{1}[0-9]{3}[-]{1}[0-9]{4}$/.test(number)));
        },
        validateMail(mail){
            return (/^[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z]{1,}$/.test(mail));
        }
    }
}
</script>

<style lang="scss" scoped>
@import "./../assets/sass/_partials-min";

form{
    .name{
        display: flex;
    }
}

</style>
