<template>
    <div class="[ content ]">
        <div class="[ container--margin ]">
            <!--<SearchComponent/>-->
           <SearchComponent @searched="search"></SearchComponent>
           <!-- <SearchComponent @searched="search"></SearchComponent>-->
            <div class="[ search-indicator ]" v-if="searchTerm != ''">
                <router-link :to="{ name: 'Home'}">
                    <i class="fa fa-times"></i></router-link>
                Search result: "{{searchTerm}}"
            </div>
            <div class="[ cards-container ]">
                <div v-for="card in loadedCards" :key="card">
                    <CardPreviewComponent :title="card.name"
                                          :imageUrl="card.imageUrl"
                                          :idUrl="card.id"
                    />
                </div>
            </div>
        </div>
        <div class="[ load ] [ container--fluid ]">
            <div class="[ load__loading ]" v-if="dataLoading">Loading...</div>
            <div class="[ load__more ] [ pointer--clickable ]"
                v-else-if="!searchedAllAvailableData" v-on:click="loadMore">Load more</div>
        </div>
    </div>
</template>

<script>
import SearchComponent from "./../components/SearchComponent";
import CardPreviewComponent from "./../components/CardPreviewComponent";
const mtg = require('mtgsdk');

export default {
    name: "Home",
    props: [ "searchTerm" ],
	components: {
        SearchComponent,
        CardPreviewComponent
	},
    watch: {
        "$route" (){
            this.search(this.searchTerm);
        }
    },
	data(){
        return{
            dataLoading: false,
            searchedAllAvailableData: true,
            loadedCards: []
         }
	},
	beforeMount()
    {
        const app = this;

        if (!localStorage.getItem("sessionID"))
        {
            app.$router.push({name: "Login"});
        }

        this.search("");
    },
    methods:{
        search(searchTerm)
        {
            this.loadedCards.length = 0;
            this.searchTerm = searchTerm === undefined ? "" : searchTerm;

            mtg.card.where({name: searchTerm})
                .then(cards => {
                    for(let c of cards)
                        if(this.validateCard(c))
                            this.loadedCards.push(c);
                });
        },
        resetSearch()
        {
            this.search("");
        },
        validateCard(card)
        {
            if (!card.name.toLowerCase().includes(this.searchTerm.toLowerCase()))
                return false;

            if (card.imageUrl === undefined)
                return false;
            
            for (let c of this.loadedCards)
                if (c.name == card.name)
                    return false;

            // card is valid
            return true;
        }
    }
}
</script>

<style lang="scss" scoped>
@import "./../assets/sass/_partials-min";

.content{
	// Page footer setup
	display: grid;
    grid-template-rows: auto 1fr auto;
    
    .cards-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        padding: 10px;
    }

    .search-indicator{
        font-size: 18pt;
        padding: 10px 0;
    }

    .load{
        &__loading{
            color: $detail;
            padding: 20px 0;
            font-size: 18pt;

            display: flex;
            justify-content: center;
        }
        &__more{
            background-color: rgba($mid, .5);
            color: $detail;
            padding: 20px 0;
            font-size: 18pt;

            display: flex;
            justify-content: center;
            
            &:hover, &:focus{
                transition: .2s;
                background-color: $mid;
                color: $white;
            }
        }
    }
}
</style>
