<template>
    <div>
        <div class="[ login ]">
            <h1>Login</h1>
            <form>
                <div class="[ label-group ]">
                    <div class="[ label-group__label ]">Username</div>
                    <input class="[ label-group__element ]" type="text" placeholder="username" v-model="username">
                </div>
                <div class="[ label-group ]">
                    <div class="[ label-group__label ]">Password</div>
                    <input class="[ label-group__element ]" type="password" placeholder="password" v-model="password">
                </div>
                <div class="[ login-error ]">
                    <div class="[ login-error__text ]" v-if="showLoginError">Wrong username or password</div>
                </div>
                <button type="submit" v-on:click="login">Sign in</button>
            </form>
            <div class="[ login__hint ]">
                <ul>
                    <li>Username: admin</li>
                    <li>Password: admin</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Login",
    data(){
        return {
            username: "",
            password: "",
            showLoginError: false
        }
    },
    methods: {
        login: function(){
            const app = this;
            
			let correctUsername = app.username === localStorage.getItem("username");
            let correctPassword = app.password === localStorage.getItem("password");

            if (correctUsername && correctPassword)
            {
				localStorage.setItem("sessionID", "666");
				app.$router.push({name: "Home"});
            }

            else
            {
                app.showLoginError = true;
            }
        }
    }
}
</script>

<style lang="scss" scoped>
@import "./../assets/sass/_partials-min";

.login{
    max-width: 320px;
    
    padding: 20px;
    margin: 40px auto;

    border: 2px solid rgba($white, .5);
    border-radius: 8px;
    
    form{
        margin-bottom: 40px;

        input{
            width: 280px;
        }
        
        .login-error{
            height: 40px;

            &__text{
                color: red;
            }
        }
    }

    &__hint{
        opacity: .8;
        font-size: 9pt;
        transform: rotate(180deg);
    }
}
</style>
