<template>
    <router-link :to="{ name: 'Card', params: { id: idUrl }}">
        <div class="card">
            <img class="card__image" v-bind:src="imageUrl" v-bind:alt="title">
            <div class="card__hover">
                <div class="card__hover__text">View more</div>
            </div>
        </div>
    </router-link>
</template>

<script>
export default {
    name: "CardPreview",
    props: [ "title", "imageUrl", "idUrl" ]
}
</script>

<style lang="scss" scoped>
@import "./../assets/sass/_partials-min";

.card{
    margin: 5px 10px;
    position: relative;

    &__image{
        border-radius: 13px;
        width: 260px;
        height: auto;
        @include full-box-shadow(1px, 8px, rgba($black, .5));
    }

    &__hover{
        position: absolute;
        top: 13px;
        bottom: 18px;
        left: 12px;
        right: 13px;

        opacity: 0;
        background-color: rgba($mid, .5);

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px;

        &__text{
            font-size: 18pt;
        }
    }

    &:link, &:visited{
        transition: .2s;
        transform: scale(1, 1);

        .card__hover{
            transition: .2s;
            opacity: 0;
        }
    }

    &:hover, &:focus{
        transition: .1s;
        transform: scale(1.05, 1.05);

        .card__hover{
            transition: .1s;
            opacity: 1;
        }
    }

    &:active{
        transition: .1s;
        transform: scale(1.05, 1.05);

        .card__hover{
            &__text{
                transition: .1s;
                color: $detail;
            }
        }
    }
}

</style>