<template>
    <div class="[ page-header ] [ container--fluid ]">
        <div class="[ logo margin--left ]">
            <router-link :to="{ name: 'Home'}">MTG</router-link>
        </div>
        <nav class="[ menu margin--right ]">
            <ul class="[ menu__list ]">
                <li class="[ menu__list__item ]">
                    <router-link :to="{ name: 'About'}">About</router-link>
                </li>
                <li class="[ menu__list__item ]">
                    <router-link :to="{ name: 'Contact'}">Contact</router-link>
                </li>
            </ul>
        </nav>
    </div>
</template>

<style lang="scss" scoped>
@import "./../assets/sass/_partials-min";

.page-header{
    display: flex;
    justify-content: space-between;
    background-color: $mid;

    padding: 10px;

    .logo{
        font-family: $logoFont;
        font-size: 21pt;
    }

    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__list{
            display: flex;
            &__item{
                margin: 0 10px;
                a{
                    display: block;
                }
            }
        }
    }
}
</style>