<template>
    <div class="content">
        <div class="search">
            <form @submit.prevent="fullSearch">
                <input type="text" placeholder="Search cards"
                    v-model="searchTerm" v-on:input="search">
            </form>
            <div class="search__result" v-if="searchTerm != ''">
                <div v-for="card of matchingCards" v-bind:key="card">
                    <router-link :to="{ name: 'Card', params: { id: card.id }}">
                        {{card.name}}
                    </router-link>
                </div>
                <div class="[ search__result__loading ]" v-if="loading">
                    Loading
                </div>
                <div class="[ search__result__all-btn ] [ pointer--clickable ]" v-on:click="fullSearch">
                    Show all
                </div>
            </div>
        </div>
    </div>
</template>

<script>
const mtg = require('mtgsdk');

export default {
    name: "Search",
    data(){
        return {
            searchTerm: "",
            showResults: false,
            matchingCards: []
        }
    },
    methods: {
        search(){
            this.matchingCards.length = 0;

            if (this.searchTerm.length == 0){
                return;
            }

            this.loading = true;

            mtg.card.where({name: this.searchTerm})
                .then(cards => {
                    for(let c of cards.slice(0, 20))
                        if(this.validateCard(c))
                            this.matchingCards.push(c);
                    this.loading = false;
                });
        },
        fullSearch(){
			this.$router.push({name: "Home", params: {searchTerm: this.searchTerm}});
            this.resetSearch();
        },
        resetSearch()
        {
            this.searchTerm = "";
            this.matchingCards.length = 0;
        },
        validateCard(card)
        {
            if (!card.name.toLowerCase().includes(this.searchTerm.toLowerCase()))
                return false;

            if (card.imageUrl === undefined)
                return false;
            
            for (let c of this.matchingCards)
                if (c.name == card.name)
                    return false;

            // card is valid
            return true;
        }
    }
}
</script>

<style lang="scss" scoped>
@import "./../assets/sass/_partials-min";
.content{
    width: 100%;
    margin: 20px 0;

    .search{
        width: 100%;
        max-width: 400px;
        margin: auto;

        position: relative;

        input{
            width: 100%;
            height: 100%;
            padding: 5px 10px;
            font-size: 16pt;
            border-radius: 20px;
        }

        &__result{
            opacity: .98;
            background-color: $mid;
            border-radius: 15px;
            padding: 6px 12px 50px;
            
            z-index: 1;
            position: absolute;
            top: 42px;
            left: 0;
            right: -25px;

            overflow: hidden;

            &__loading{
                text-align: center;
                font-size: 10pt;
            }

            &__all-btn{
                position: absolute;
                bottom: -5px;
                left: 0;
                right: 0;

                padding: 10px 0;
                margin: 5px -20px;

                background-color: rgba($dark, .5);
                color: $detail;
                text-align: center;
                
                &:hover, &:focus{
                    transition: .2s;
                    background-color: rgba($dark, .2);
                    color: $white;
                }
            }
        }
    }
}
</style>
