<template>
  <div id="app">
    <HeaderComponent/>
    <router-view/>
  </div>
</template>

<script>
import HeaderComponent from './components/HeaderComponent.vue'

(function(){
  localStorage.setItem("username", "admin");
  localStorage.setItem("password", "admin");
})();

export default {
  name: 'app',
  components: {
    HeaderComponent
  }
}
</script>

<style lang="scss">
@import "assets/sass/main";

#app{
  min-height: 100%;
  padding-bottom: 50xp;
	// Page footer setup
	display: grid;
  grid-template-rows: auto 1fr auto;
}
</style>
