@import "_partials-min";

html, body, header, footer,
h1, h2, h3, h4, h5, h6, p, 
img, a, div, nav, li, ul, ol, aside{
	margin: 0;
	padding: 0;
	border: 0;

	text-decoration: none;
	list-style-type: none;

	color: $white;
    font: inherit;
}

html, body{
	background-color: $dark;
	margin: 0;
    height: 100%;
}

body{
	color: $white;
	font-family: $mainFont;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
	color: $detail;
	font-family: $headerFont;
	line-height: 2;
}

h1{
	font-size: 28pt;
    margin: 20px 0;
}

h2{
	font-size: 24pt;
    margin-top: 10px;
}

h3{
	font-size: 18pt;
    margin-top: 10px;
}

h4{
	font-size: 14pt;
}

p{
	max-width: 750px;
	font-size: 16pt;
	line-height: 1.5;

	padding-top: 4pt;
    padding-bottom: 4pt;
}
	
a{
	&:link, &:visited{
		transition: 0.4s;
		color: $detail;
    }
	
	&:hover, &:focus{
		transition: 0.2s;
		color: $white;
    }
	
	&:active{
		transition: 0.2s;
		color: $white;
    }
}

form{
	display: flex;
	flex-direction: column;
}
	
input, textarea{
	color: $white;
	background-color: $mid;
	border: 2px solid rgba($white, .5);
	border-radius: 15px;
	padding: 6px 12px;

	&::placeholder{
		color: rgba($white, .5);
	}
/*
	&:-internal-autofill-previewed,
	&:-internal-autofill-selected{
		color: $white;
		background-color: $mid;
	}*/

	&:hover, &:focus{
		transition: .2s;
		border: 2px solid $detail;
	}
}

textarea{
	border-radius: 15px 15px 2px 15px;
}

button{
	color: $white;
	background-color: $detail;
	border: 2px solid rgba($white, .5);
	border-radius: 30px;
	padding: 10px 15px;
	margin: auto;
	font-size: 14pt;
	width: 120px;

	&:hover, &:focus{
		transition: .2s;
		color: $mid;
	}
}