@mixin full-text-shadow($offset, $blur, $color){
	text-shadow: ($offset) ($offset) ($blur) $color,
				 (-($offset)) ($offset) ($blur) $color,
				 ($offset) (-($offset)) ($blur) $color,
                 (-($offset)) (-($offset)) ($blur) $color;
}

@mixin full-box-shadow($offset, $blur, $color){
	box-shadow: ($offset) ($offset) ($blur) $color,
				 (-($offset)) ($offset) ($blur) $color,
				 ($offset) (-($offset)) ($blur) $color,
                 (-($offset)) (-($offset)) ($blur) $color;
}