$black: #040504;
$dark: #100833;
$mid: #544975;
$detail: #FCA964;
$white: #FFFFFF;

$logoFont: 'Metamorphous', serif;
$headerFont: $logoFont;// 'Rakkas', sans-serif;
$mainFont: 'Raleway', Helvetica, Myriad Pro, Arial, sans-serif;

$minWidth: 400px;
$readableMaxWidth: 720px;
$edgeMargin: 40px;
$edgeMarginSmall: 10px;

$tabletMinWidth: 700px;
$desktopMinWidth: 900px;
