@import "_partials";

.container{
    &--fluid{
        width: 100%;
    }
    &--margin{
        margin: 0 $edgeMarginSmall;
    }
    &--readable{
        max-width: $readableMaxWidth;
        margin: 0 $edgeMarginSmall;
    }
}

.margin{
    &--left{
        margin-left: $edgeMarginSmall;
    }
    &--right{
        margin-right: $edgeMarginSmall;
    }
}

.pointer{
    &--clickable{
        cursor: pointer;
    }
    &--ignore{
        pointer-events: none;
    }
}

.label-group{
    margin-bottom: 10px;
    margin-right: 20px;
    
    &__label{
        color: $detail;
        font-size: 10pt;
    }
    &__element{
        margin: 5px 0;
        margin-left: 5px;

        &.error{
	        border: 2px solid red;
        }
    }

    &--wide{
        @extend .label-group;

        input{
            max-width: 280px;
        }

        input, textarea{
            width: 90%;
        }
    }
}

.align{
    &--right{
        *{
            float: right;
        }
    }
}

.indent{
    &--margin{
        margin-left: 4px;
    }

    &--border{
        border-left: 2px solid $detail;
        padding-left: 10px;
    }
}

.loading{
    position: relative;
    width: 100%;
    height: 0;
    overflow: overflow;
    transform: translateY(40px);

    display: flex;
    justify-content: center;

    div{
        position: absolute;
        width: 100px;
        text-align: center;
    }
}

/// Tablet //////
@media only screen and (min-width: $tabletMinWidth){

.container{
    &--margin, &--readable{
        margin: 0 $edgeMargin;
    }
}

.margin{
    &--left{
        margin-left: $edgeMargin;
    }
    &--right{
        margin-right: $edgeMargin;
    }
}
}

/// Desktop //////
@media only screen and (min-width: $desktopMinWidth){
    
.container{
    &--readable{
        margin: 0 auto;
    }
}
}
